body
{
	background: black;
}

	.login_div1
	{
		background: red;
		padding: 10px;
		float: none;
		border-radius: 15px;
        border-width: 10px;
        margin-bottom: 100px;
        margin-top: 100px
	}

.login_div2
    {
		background: red;
		padding: 10px;
		float: none;
		border-radius: 15px;
        border-width: 10px;
        margin-bottom: 100px;
	}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
